<!DOCTYPE html>
<html xmln:th="http://thymeleaf.org">

<head>
	<meta charset="" ISO-8859-1>
	<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/save}" th:object="${academic}" method="POST">
				<div class="card">
					<div class="card-header">
						<H3>ACADEMIC</H3>
					</div>
					<div class="card-body">
						` <div class="form-group">
							<label>Id</label>
							<input th:field="*{id_academic}" type="text" class="form-control" />
							<br>
							<label>Last name</label>
							<input th:field="*{last_name}" type="text" class="form-control" />
							<br>
							<label>Phone</label>
							<input th:field="*{phone}" type="number" class="form-control" />
							<br>
							<label>Email</label>
							<input th:field="*{email}" type="email" class="form-control" />
							<br>
							<label>Address</label>
							<input th:field="*{address}" type="text" class="form-control" />
							<br>
							<label>Birthdate</label>
							<input th:field="*{birthdate}" type="text" class="form-control" />
							<br>
							<label>Resume</label>
							<input th:field="*{resumen}" type="text" class="form-control" />
							<br>
							<label>Created Date</label>
							<input th:field="*{createdDate}" type="text" class="form-control" />
							<br>
							<label>Update Date</label>
							<input th:field="*{updatedDate}" type="text" class="form-control" />
							<br>
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="GUARDAR" class="btn btn-success" />
					</div>
				</div>
			</form>
		</div>


</body>

</html>